[core]
	editor = nvim

[user]
	email = trironk@gmail.com
	name = TK Kiatkungwanglai

[status]
	submoduleSummary = true

[pager]
	diff = false
	log = false
	status = false
[init]
	defaultBranch = main
[alias]
	log-graph = log --graph --oneline --decorate --all
