[user]
	name = TK Kiatkungwanglai
	email = trironk@gmail.com

[core]
	editor = nvim

[init]
	defaultBranch = main

[status]
	submoduleSummary = true

[pull]
	rebase = true

[rebase]
	autosquash = true
	autostash = true

[diff]
	algorithm = histogram
	colorMoved = default

[alias]
	lg = log --graph --oneline --decorate --all
